page-about {
    .content {
        .red {
          color: red;
        }
        .location {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .power-output {
            margin-bottom: 40px;
        }
        .detail {
            margin-bottom: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            .weather-icon {
                padding-right: 16px;
            }
            .weather {
                color: rgba(0,0,0,.78);
            }
            .temperature {

            }
            .secondary-detail {
                padding-left: 40px;
                .humidity, .wind, .direction {
                    color: rgba(0,0,0,.54);
                    span {
                        padding-left: 8px;
                        font-size: 16px;
                        color: rgba(0,0,0,.87);
                    }
                }
            }
        }
        
        .recommendation {}
    }
    #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        z-index: 10000 !important;
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 100%;
        height: 36px;
        border-top: none;
        border-right: none;
        border-bottom: 2px solid rgba(0,0,0,.38);
        border-left: none;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
      #map {
          height: 36px;
          width: 100%;
          margin-bottom: 24px;
      }
      .gm-style div {
        display: none;
      }
}
