<ion-header>
  <ion-navbar>
    <ion-title>
      Solar Power
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content" padding>
  <ion-list>
    <h4 class="red" *ngIf="errorMessage !='' ">{{errorMessage}}</h4>
    <input id="pac-input" class="controls" type="text" placeholder="Search Location">
    <div id="map"></div>
    <div class="location">
      <div style="color:rgba(0,0,0,.54)">Selected location:</div>
      <b class="font-16">{{area}}</b>
    </div>
  </ion-list>
  <div class="power-output font-56 center">{{avgOutput}}
    <div class="font-20">W/m<sup class="font-12">2</sup></div>
    <!--<span class="font-24">W/m<sup class="font-12">2</sup></span>-->
  </div>
  <div class="detail">
    <img [src]="weatherIcon" />
    <div>
      <div class="weather">Sunny</div>
      <div class="temperature font-24">{{temperature}}&deg;C</div>
    </div>
    <div class="secondary-detail">
      <div class="humidity">Humidity:<span>{{humidity}}%</span></div>
      <div class="wind">Wind:<span>{{windSpeed}} km/h</span></div>
      <div class="direction">Direction:<span>{{windDirection}}&deg;</span></div>
    </div>
  </div>
  <div class="recommendation">With an hour of output you can:</div>
  <ul>
    <li>Power up light bulb (100w) for <b>{{this.power[0]}} hours</b></li>
    <li>Power up water heater (1kw) for <b>{{this.power[1]}} minutes</b></li>
    <li>Charge your phone (3000mah) for <b>{{this.power[2]}} times</b></li>
  </ul>
</ion-content>