<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Info" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="My Power" tabIcon="battery-full"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Solar Power" tabIcon="bulb"></ion-tab>
  <!--<ion-tab [root]="tab4Root" tabTitle="Control" tabIcon="build"></ion-tab>-->
</ion-tabs>
