<ion-header>
  <ion-navbar>
    <ion-title>
      Control
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-list-header></ion-list-header>
    <ion-item>
      Search Area: {{area}}
    </ion-item>
    <ion-item>
      AC Output by this month: {{items}} kWh 
    </ion-item>
    <ion-item>
      AC Output last 24 hours: {{avgOutputLast24hours}} Wh
    </ion-item>
    <ion-item>
      AC Output this hour: {{avgOutput}} Wh
    </ion-item>
    <ion-item *ngFor="let appliance of appliances">
      {{appliance.Appliance}}: {{appliance.Minimum}}, Power up to {{appliance.power}} hours
    </ion-item>
  </ion-list>

</ion-content>
