
<ion-header>
  <ion-navbar>
    <ion-title>How Does Solar Energy Affect Us?</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="tutorial-page">
  <ion-slides pager>
    <ion-slide *ngFor="let slide of slides">
      <ion-toolbar>
        
      </ion-toolbar>
      <img [src]="slide.image" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <img src="assets/Solar.jpg" class="slide-image"/>
      <h2 class="slide-title"> Estimate Solar Energy production at you area?</h2>
      <button ion-button clear icon-right color="primary">
        
        <ion-icon name="calculator"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>