.battery-case {
    position: relative;
	display: block;
	background: transparent;
	border: 6px solid black;
	margin: -12px;
	width: 200px;
	height: 64px;
	border-radius: 2px;
    margin: 16px 0 40px;
    .battery {
        position: relative;
        display: block;
        width: 50px;
        height: 44px;
        margin: 4px;
        background: black;
        float: left;
    }
    .battery-left {
        position:absolute;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        width: 100%;
        height: 100%;
    }
}

.battery:after {
	content: "";
	display: block;
	background: transparent;
	border: 6px solid black;
	margin: 2px 188px;
	width: 6px;
	height: 32px;
	position: absolute;
	border-radius: 2px;
}

// @keyframes juicing {
//   0% {
//     width: 0;
//     background: red;
//   }
//   15% {
//       background: gold;
//   }
//   40% {
//     background: gold;
//   }
//   50% {
//       width: 72px;
//       background: green;
//   }
//   60% {
//       background: gold;
//   }
//   85% {
//       background: gold;
//   }
//   100% {
//     width: 0;
//     background: red;
//   }
// }

.battery.charging {
//    animation: juicing 20s linear infinite;
    width: 140px;
    background: rgba(0,200,0,1);
}



.alert-wrapper {
    max-width: 100%;
}