<ion-header>
    <ion-navbar>
        <ion-title>
            My Power
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="content" padding>
    <div style="display: flex; justify-content: center;">
        <div class="battery-case">
            <div class="battery charging"></div>
            <div class="battery-left">
                <div class="percentage center">70%</div>
                <div class="watt center">Last 24h: {{avgOutputLast24hours}} W</div>
            </div>
        </div>
    </div>
    <ion-list>
        <ion-item>
            <div class="font-12" style="color:rgba(0,0,0,.38)">Your Area:</div>
            <div>{{area}}</div>
        </ion-item>
        <ion-item>
            <div class="font-12" style="color:rgba(0,0,0,.38)">Current charging rate:</div>
            <div>{{avgOutput}} W/h</div>
        </ion-item>
        <ion-item>
            <div class="font-12" style="color:rgba(0,0,0,.38)">This month's output:</div>
            <div>{{items}} kWh</div>
        </ion-item>
        
        <ion-list-header style="border:none; margin:24px 0 0;">Your Appliances</ion-list-header>
        <ion-item *ngFor="let appliance of appliances">
            <ion-label (click)="showUsage(appliance)">{{appliance.Appliance}}</ion-label>
            <ion-toggle [(ngModel)]="appliance.isRunning"></ion-toggle>
            <!--: {{appliance.Minimum}} {{appliance.power}} hours-->
        </ion-item>
        <!--<ion-item *ngFor="let appliance of (appliances | fieldPipe:false)">
            <ion-label (click)="showUsage(appliance)">{{appliance.Appliance}}</ion-label>
            <ion-toggle [(ngModel)]="appliance.isRunning"></ion-toggle>
        </ion-item>-->
    </ion-list>
</ion-content>